<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>To Do List</title>
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
  <link rel='stylesheet' href='~/css/styles.css' type="text/css">
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <h1>To Do List</h1>
    </div>
    <h5>Details for to do item: @Model["selectedItem"].GetDescription()<h5><br>
    @if (@Model["itemCategories"].Count != 0)
    {
    <h5>This item is currently found in these categories:</h5><br>
      @foreach (var category in @Model["itemCategories"])
      {
        <p>@category.GetName()</p><br>
      }
    }
    <h5>Add a category to this item:</h5><br>
    <form action='/items/@Model["selectedItem"].GetId()/categories/new' method='post'>
      <label for='categoryId'>Select a category:</label><br>
      <select id='categoryId' name='categoryId' type='text'><br>
        @foreach (var category in @Model["allCategories"])
        {
          <option value='@category.GetId()'>@category.GetName()</option><br>
        }
      </select><br>
      <br>
      <button type='submit' class="btn btn-dark">Add</button>

    </form>
    <div id="space">
    </div>
    <hr>
    <a href="/" class="btn btn-dark">Home</a>
  </div>
</body>
</html>
